<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true">
        insert into user (name, phone, sex, id_number, openid, avatar, create_time) values
        (#{name}, #{phone}, #{sex}, #{idNumber}, #{openid}, #{avatar}, #{createTime})
    </insert>

    <!--    <select id="pageQuery" resultType="com.sky.entity.Employee">-->
<!--        select * from employee-->
<!--        <where>-->
<!--            <if test="name != null and name != ''">-->
<!--                and name like '%${name}%'-->
<!--            </if>-->
<!--        </where>-->
<!--        order by create_time desc-->
<!--    </select>-->

    <update id="update" parameterType="com.sky.entity.User">
        update user
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="idNumber != null">id_number = #{idNumber},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <select id="getByOpenid" resultType="com.sky.entity.User">
        select * from user where openid = #{openid}
    </select>

    <select id="getById" resultType="com.sky.entity.User">
        select * from user
        <if test="id != null">
            where id = #{id}
        </if>
    </select>

    <select id="getDateCountByDateRange" resultType="com.sky.dto.UserStatDTO">
        select DATE(create_time) as date, count(id) as count from user
        <where>
            <if test="begin != null"> and create_time &gt;= #{begin} </if><!-- 这里用date即对参数使用函数会导致索引失效 -->
            <if test="end != null"> and create_time &lt;= #{end} </if>
        </where>
        group by DATE(create_time)<!-- 忽略时分秒 -->
    </select>

    <select id="countBeforeDate" resultType="java.lang.Long">
        SELECT COUNT(id) FROM user WHERE create_time &lt; #{time}
    </select>
</mapper>
